.especialidadesaside{
    background-color: whitesmoke;
    width: 450px;
    border-radius: 10px;

    h3{
        background-color: $colorsiete;
        color: whitesmoke;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: larger;
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
    }

    ul{
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: $colorprimario;
        font-size: 20px;
        text-align: center;
        background-color: $colorcinco;
        padding: 10px;
        border-radius: 10px;
    }

    li{
        margin-top: 10px;
    }
    
    
}
