.fondoindegaBT{
    background-image: url(../img/INDEGAIMAGENGRANDE.jpg);
    background-size:cover; 
    height: 450px;
    width: auto;
    margin-top: 20px;

    .parrafo1BT{
        color: $colorseis;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 30px;
        padding: 20px;
        text-align: center;
    }
    

}
