.ubicacionBT{
    background-color: $colorsiete;
    color: whitesmoke;
    font-size: medium;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    width: auto;
}
