$colorprimario :  whitesmoke;
$colorsecundario : rgb(71, 74, 73);
$colorterciario : white;
$colorcuaterniario : rgb(63, 63, 63);
$colorcinco: gray;
$colorseis: rgb(93, 93, 93);
$colorsiete:rgb(99, 205, 205);

